<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout.html :: dynamic(~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="main">
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <h3 class="ltext-105 cl5 txt-center respon1">
      ĐĂNG KÝ
    </h3>
    <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-lg-6">
          <div class="card1 pb-5">
            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
              <img th:src="@{|/images/logo-bg.png|}" class="image">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card2 card border-0 px-4 py-5">
            <form action="/register" method="post" th:object="${user}">
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Họ và tên:</h6></label>
                <input class="mb-4" type="text" th:field="*{fullName}" name="name" placeholder="Vui lòng nhập họ tên...">
              </div>
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Email:</h6></label>
                <input class="mb-4" type="text" th:field="*{email}"  name="email" placeholder="Vui lòng nhập địa chỉ email...">
              </div>
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Số điện thoại:</h6></label>
                <input class="mb-4" type="text" th:field="*{phoneNumber}" name="phone" placeholder="Vui lòng nhập số điện thoại...">
              </div>
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Mật khẩu:</h6></label>
                <input type="password" th:field="*{password}" name="password" placeholder="Vui lòng nhập mật khẩu...">
              </div>
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Xác nhận mật khẩu:</h6></label>
                <input type="password" name="passwordvali" placeholder="Vui lòng nhập mật khẩu...">
              </div>
              <div th:if="${errpass}" class="alert alert-danger" role="alert">
                <p th:text="${errpass}"></p>
              </div>
              <div class="row mb-3 px-3">
                <button type="submit" class="btn btn-blue text-center">Đăng ký</button>
              </div>
              <div class="row mb-4 px-3">
                <small class="font-weight-bold">Nếu bạn đã có tài khoản!! <a href="/loginpage" class="text-danger ">Đăng nhập</a></small>
              </div>
            </form>
            <div class="row px-3 mb-4">
              <div class="line"></div>
              <small class="or text-center">Or</small>
              <div class="line"></div>
            </div>
            <div class="row mb-4 px-3">
              <h6 class="mb-0 mr-4 mt-2">Đăng nhập với</h6>
              <div class="facebook text-center mr-3">
                <a class="fa fa-google" th:href="@{/oauth2/authorization/github}"></a>
              </div>
              <div class="twitter text-center mr-3">
                <a class="fa fa-github" th:href="@{/oauth2/authorization/google}"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>